<h1>Vokabeln</h1>
<app-start-panel 
    *ngIf="aktive_maske == 'start_panel'" 
    (on_start_game)="on_start_game($event)"
></app-start-panel>

<app-vokabel-form 
    *ngIf="aktive_maske == 'vokabeln_form'" 
    [game]="game"
    (on_finish_game)="on_finish_game()"
    (on_show_error_message)="on_show_error_message($event)"
></app-vokabel-form>

<app-feuerwerk *ngIf="show_firework"></app-feuerwerk>
<app-errormessage 
    *ngIf="aktive_maske == 'error_message'" 
    [text]="error_message_text" 
    (on_override_to_correct)="on_override_error_message_to_correct()"
    (on_continue)="on_continue_from_error_message()"
></app-errormessage>
